{% extends 'base.html.twig' %}

{% block title %}JOB.UA | {{ resume }}{% endblock %}

{% block body %}

    <div class="card text-center">
        <div class="card-header" align="left">
            <h1>{{ resume.user }}</h1>
            <img src="/uploads/images/users/{{ resume.user.image }}" width="10%">

        </div>
        <div class="card-body" align="left">
            <h2>{{ resume }}</h2>
            <h4>Main information</h4>
            {{ resume.position }}<br>
            {{ resume.city }}<br>
            {{ resume.phone }}<br>
            {{ resume.employmentType }}<br>
            {{ resume.salary }}<br>

            <br><h4>Last work place</h4>
            {{ resume.workCompany }}<br>
            {{ resume.workCity }}<br>
            {{ resume.workPosition }}<br>
            {{ resume.workStart.format('m.Y') }} - {{ resume.workFinish.format('m.Y') }}<br>
            {{ resume.workDescription }}<br>


            <br><h4>Education</h4>
            {{ resume.educationType }}<br>
            {{ resume.educationInstitution }}<br>
            {{ resume.educationSpeciality }}<br>
            {{ resume.educationCity }}<br>
            {{ resume.educationStart.format('m.Y') }} - {{ resume.educationFinish.format('m.Y') }}<br>
            {{ resume.educationDescription }}<br>

            <br><h4>Additional information</h4>
            {{ resume.additionlInfo }}<br>
        </div>
        <div class="card-footer text-muted">
            {#<a href="{{ path('edit_user', {'id' : app.user.id}) }}">Edit user data</a>#}
        </div>
    </div>

{% endblock %}
