<nav class="navbar fixed-top navbar-expand-sm navbar navbar-dark" style="background-color: #ad0c99;">
    <div class="container">

        <a class="navbar-brand" href="{{ path('home_employer') }}">Work for employers</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('find_resume') }}">Find resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('create_vacancy') }}">Create vacancy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: darkblue" href="{{ path('home') }}">To Employee</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
