{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}JOB.UA | Find resume{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Search">
    {{ form_end(form) }}

    <div class="card text-center">
        <div class="card-header">
            <h1>Resumes</h1>

        </div>
        <div class="card-body">
            {% for resume in resumes %}
                {% if resume.isAvailable and resume.city == city %}
                    <p><a href="{{ path('resume', {'id' : resume.id}) }}">{{ resume }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            {#<a href="{{ path('edit_user', {'id' : app.user.id}) }}">Edit user data</a>#}
        </div>
    </div>
{% endblock %}
